@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC:700&display=swap');

body{
	background-color: #FFF;
	background-image: linear-gradient(90deg, rgb(253, 252, 251) 5%, rgb(226,209,195));
	background-size: cover;
	color: #5A5353;
	font-family: 'Open Sans', sans-serif;	
}

header{
	font-family: 'Playfair Display SC', serif;
	text-align: center;
	width: 100%;
}

section.wrapper{
	display: flex;
	width: 100%;
	
	align-items: center;
	justify-content: center;
}

div#plotwrap{
	text-align: center;
	flex-basis: 50%;
}

div#table{
	flex-basis: 50%;
}

#tableTitleAll{
	font-size: 1.25em;
}

#missExplain{
	text-align: center;
}

.hidden{
	display: none;
}

th{
	text-align: center;
}

td{
	text-align: center;
}

div#rButtons{
	text-align: center;
}

footer{
	font-size: 0.65em;
	margin-top: 30px;
	width: 100%;
}

footer a{
	color: #493548;
}